@font-face {
    src: url("./assets/fonts/beer_money.ttf");
    font-weight: 1000;
    font-family: 'beer_money';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #E2CEFF;
    --color-black:#000000;
    --color-white:#ffffff;
    --color-yellow:#feb201;
}
body {
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./assets/cute_monster.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'beer_money';
}
main {
    display: flex;
    width: 100%;
    flex-flow: column;
    position: relative;
    gap: 2rem;
    overflow: hidden;
    margin: 2rem;
    max-width: 75rem;
}
.slide-item {
    display: none;
}
main .slides,
main .slides-description {
    transition: 0.3s;
    width: 100%;
}
.slide, 
.slide-desc {
    display: inline-block;
}
.slide-image {
    width: 100%;
}
/* .under {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
} */
.slide-desc {
    padding: 0.5rem 0;
    width: 100%;
    vertical-align: top;
}
.slider-controls {
    cursor: default;
    z-index: 1;
    position: relative;
    display: flex;
    gap: 0.1rem;
    background-color: var(--color-yellow)
}
.control-icon {
    padding: 0.5rem;
    cursor: pointer;
}
.dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: solid 0.15rem var(--color-primary);
    background-color: var(--color-primary);
    transition: 0.3s;
    cursor: pointer;
}