@font-face {
    src: url("./assets/fonts/beer_money.ttf");
    font-weight: 1000;
    font-family: 'beer_money';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #E2CEFF;
    --color-black:#000000;
    --color-white:#ffffff;
    --color-yellow:#ffbe2e;
}
body {
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./assets/cute_monster.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'beer_money';
}
main {
    display: flex;
    width: 100%;
    flex-flow: column;
    position: relative;
    gap: 2rem;
    overflow: hidden;
    margin: 2rem;
    max-width: 75rem;
}
.slide-item {
    display: none;
}
main .slides,
main .slides-description {
    transition: 0.3s;
    width: 100%;
}
.slide, 
.slide-desc {
    display: inline-block;
}
